<div class="maindiv" id="maindiv">
  <div class = "header" id = "header">
    <div class="logo" id="logo">
      <%= image_tag "logo.png" %>
    </div>
    <div class="slogan" id="slogan">
      From ASIA to the WORLD!
    </div>
    <hr>
  </div>
  <div class="bigdiv" id="bigdiv"></div>
  <div class="footer" id="footer">
    <hr>
    FRAMGIA Viet Nam - 9F VietA building, Duy Tan, Dong Da, Ha Noi
    <hr>
  </div>
</div>